{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Radiografía</title>
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
</head>
<body>
    <h1>Detalles de la detección</h1>
    {% if radiografia %}
        <h3>Datos del paciente:</h3>
        <p>Nombre: {{ paciente.name_patient }}</p>
        <p>DNI: {{ paciente.dni_patient }}</p>

        <div class="container-table">
          <table>
              <thead>
                <tr>
                  <th>Radiografía</th>
                  <th>Análisis</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>
                        <img src="{{ MEDIA_URL }}{{ radiografia.image_radiograph }}" alt="Radiografía" style="max-width: 300px;" />
                    </td>
                    <td>
                        <p>{{ radiografia.analysis.detection_radiograph }}</p>
                        <p>{{ radiografia.analysis.prediction_radiograph }}</p>
                    </td>
                </tr>
              </tbody>
          </table>              
      </div>
    {% else %}
        <p>No se encontró la radiografía.</p>
    {% endif %}
</body>
</html>