{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detector de neumonía</title>
        <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    </head>
    <body>
        <div class="container-search-patient">
          <form method="GET" action="{% url 'buscar_paciente' %}">
              <p>Ingrese el DNI del paciente:</p>
              <input type="text" name="dni" placeholder="DNI">
              <button type="submit">Buscar Paciente</button>
          </form>
        </div>

        <div class="container-add-buttons">
            <a id="add-patient-btn" href="{% url 'registrar_paciente' %}">Agregar paciente</a>
            <br>
            <a id="add-radiograhp-btn" href="#">Agregar radiografía</a>
        </div>

        {% if paciente %}
            <h3>Datos del paciente:</h3>
            <p>Nombre: {{ paciente.name_patient }}</p>
            <p>DNI: {{ paciente.dni_patient }}</p>
        {% else %}
            <p>{{ error_message }}</p>
        {% endif %}

        <div class="container-table">
            <table>
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Radiografía</th>
                    <th>Detección</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>28/09/2024</td>
                    <td>28/09/2024</td>
                    <td>28/09/2024</td>
                  </tr>
                </tbody>
              </table>              
        </div>
      </body>
</html>